$body-color:#efeded;
$primary-color:#1a94f8;
$secondary-color: #ffb300;
$ternary-color: black;

.quizContainer{
    box-shadow: 0 5px  10px 2px rgba(0, 0, 0, 0.1);
    display: flex; 
    align-items: center;
     justify-content: center;
     position: relative;
     .timer-Div{
        position: absolute;
        display: flex;
        right:10%;
        justify-content: flex-end;
        
        .timer{
            max-height:50px;
            position:fixed;
            top:2vh;
            width:100px;
            border-radius: 5px;
            background-color: #ffb300;
            .clock{
               
                font-size: 1.5em;
                color:$body-color;
                font-family: 'Orbitron';
                font-weight: bold;
            }
        }
     }

.questionsection{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    position:relative;
 
    top:10vh;

    .question {
      display:flex;
      flex-direction:row;
      border-bottom:1px solid $secondary-color;
      padding:10px  2px;
      color: $secondary-color;
      background-color: #ffb30010;
      .q{
       font-weight: bold;
      }
    }
    .questionsection-ques{
        display:flex;
      flex-direction:row;
    
      .questioncoldiv-1{
        display:flex;
        justify-content: center;
        color:#ffb300;
        background-color: #ffb30016;
        height:100%;
        padding:10px 18px;
        
      }
      .questioncoldiv-2{
        display:flex;
        justify-content: center;
        color:#363636;
        height:100%;
        padding:10px 18px;
      }
    }
    .questionsection-ques,.questionsection-col{
    //   background-color:$secondary-color;
    //   width:70%;
      margin-top:20px;
      border-radius:5px;
      border: 1px solid $secondary-color;
      
    }
    
}
.button{
    .save-button{
        left:16%;
        background: #000;
        border:none
    }
    .submit-button{
        left:23%;
        background-color: $primary-color;
        border:none;
        .resultRow{
            display:flex;
            justify-content: center;
            text-align: center;
        }
    }
    .save-button,.submit-button,.next-button{
        position:absolute;
        width:10vh;
        height:5vh;
        padding:5px;
        top: 120%;
    }
 
}
.next-button{
        position:absolute;
        left:10%;
        width:10vh;
        height:5vh;
        padding:5px;
        top:60%;
        border:none;
        color:$ternary-color;
        background-color: $body-color; 
}
}